.it {
	&-btn {
		border: $button_border;
		background: $button_background_color;
		border-radius: $button_rounded_size;
		color: $button_text_color;
		cursor: pointer;	
		font-family: Roboto;
		font-size: $button_text_size;
		display: inline-block;
		padding: $button_padding;
		position: relative;
		height: $button_height_default;
		line-height: $button_height_default;
		text-decoration: none;
		@include prefix(transform, scale(1));
		@include transition($button_transition);
		outline: none;

		.fa,
		.far,
		.fas {
			width: 16px;
			margin-right: 6px;
		}

		&:hover {
			background: $button_hover_background_color;
			border: $button_hover_border;
			color: $button_hover_text_color;
			text-decoration: none;
		}

		&:active {
			@include prefix(box-shadow, inset 0px 2px 2px rgba(#ddd, .4));
			@include prefix(transform, scale(.99));
		}

		&.btn-disabled {
			pointer-events: none;
			opacity: 0.5;
		}

		&.text-light {
			color: #000;
		}

		&.text-dark {
			color: #fff;
		}

		&.btn-primary,
		&.btn-success,
		&.btn-alert,
		&.btn-warning {
			color: #fff; 
			border: transparent;
			text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
		}

		&.btn-primary {
			@include gradient($state_primary_color, $state_primary_dark_color);
			&:hover {
				@include gradient(darken($state_primary_color, 8%), darken($state_primary_dark_color, 8%));
			}
		}

		&.btn-success {
			@include gradient($state_success_color, $state_success_dark_color);
			&:hover {
				@include gradient(darken($state_success_color, 8%), darken($state_success_dark_color, 8%));
			}
		}

		&.btn-alert {
			@include gradient($state_alert_color, $state_alert_dark_color);
			&:hover {
				@include gradient(darken($state_alert_color, 8%), darken($state_alert_dark_color, 8%));
			}
		}

		&.btn-warning {
			@include gradient($state_warning_color, $state_warning_dark_color);
			&:hover {
				@include gradient(darken($state_warning_color, 8%), darken($state_warning_dark_color, 8%));
			}
		}

		&.btn-transparent {
			background: transparent;
			border: transparent;
			&:hover {
				background: rgba(0, 0, 0, .2);
			}
		}

		&-group {
			display: table;
			position: relative;
			border: 1px solid rgba(0, 0, 0, .3);

			> .it-btn {
				border: none;
				display: table-cell;
				@include prefix(border-radius, 0);
				
				&.btn-dropdown {
					border-left: 1px solid rgba(0, 0, 0, .2);
					padding: 0 2px 0 4px;
				}

				&:active {
					@include prefix(transform, scale(1));
				}
			}

			.menu-group {
				@include resetMP();
				list-style: none;
				position: absolute;
				display: none;
				background: #fff;
				padding: 10px 0;
				min-width: 100px;
				@include prePost(100%, 0, '', '');
				@include prefix(border-radius, 3px);
				@include prefix(box-shadow, 0 1px 3px rgba(0, 0, 0, .3));
				
				&.menu-reverse {
					@include prePost(auto, 0, 100%, '');
				}

				&-separator {
					background: #ccc;
					@include size(100%, 1px);
				}

				li {
					margin-top: 5px;

					.it-btn {
						border: none;
						border-radius: 0;
						white-space: nowrap;
						display: block;
					}
				}
			}
		}
	}
}