.it {
	&-datatable {	
		position: relative;
		@include flexbox();
		@include flex-direction(column);

		&-wrapper {
			@include flex(1);
			overflow: scroll;
		}

		&-fixed-header{
			background: #e3e4e6;
			display: block;
			position: absolute;
			overflow: hidden;
			@include prePost(0, 15px, '', 0);
		}
		
		table { 
			table-layout: fixed;
			border-collapse: collapse; 
			
			thead {
				tr {
					th {
						background: $grid_header_color;
						border: 1px solid $grid_header_border_color;
						color: #333;
						padding: 6px 12px;
						font-weight: normal;
						text-align: left;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;

						a {
							text-decoration: none;
							color: $grid_header_text_color;
						}

						img {
							display: auto;
							float: right;
						}
					}
				}
			}

			tbody {
				tr {
					height: 25px;

					&:nth-child(even) { 
						background: $grid_row_strip_color; 
					}

					&:hover {
						background: $grid_row_hover_color;
					}

					&.it-datatable-selected {
						background: $grid_row_selected_color;
					}
					
					td {
						border-bottom: 1px solid $grid_row_border_color;
						border-right: 1px solid transparent;
						border-left: 1px solid transparent;
						color: $grid_row_text_color;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space:nowrap;

						div {
							position: relative;
							padding: 0 6px;
							height: $grid_column_height;
							line-height: $grid_column_height;
							font-weight: normal;
							text-overflow: ellipsis;
							overflow: hidden; 
							white-space: nowrap;
	
							&.wrap {
								white-space: normal;
								text-overflow: clip;
								line-height: 1.4em;
								height: auto;
							}
							
							// Fixed Checkbox Layout in datatable
							.it-edit.for-option {
								.it-edit-input {
									display: none;
								}
	
								.it-input-label {
									padding: 3px;

									&:after {
										top: 5px;
									}	
								}
							}

						}
						
						&.wrap{
							white-space: normal !important;
						}

						// Mode Row Editing
						&.it-datatable-editing {
							div {
								padding: 0;
								text-overflow: none;
								overflow: visible;

								// .it-datatable-form {
								// 	background: #fff;
								// 	border: 1px solid $grid_column_editing_border_color;
								//   	box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
								// 	font-family: Aller;
								// 	padding: 0 5px;
								// 	height: $grid_column_height;
								// 	line-height: $grid_column_height;
								// }
								
								select {
									padding: 2px 1px;
								}
							}
						}

						// Perubahan Value Grid
						&.it-datatable-changed {
							> div {
								&:before {
									content: "";
									border-width: 5px;
									border-style: solid;
									border-color: red transparent transparent transparent;
									position: absolute;
									@include prePost(-6px, '', '', -4px);
									@include prefix(transform, rotate(135deg));
								}
							}
						}
					}
				}
			}
		}

		&-icon {
			background: transparent;
			border: 1px solid transparent;
			cursor: pointer;
			@include size($grid_paging_item_width, $grid_paging_item_height);
			@include transition(background .2s);
			@include prefix(border-radius, 2px);

			&:hover {
				background: #ddd;
			}
		}

		&-pagination {
			padding: 0 5px;
			height: $grid_paging_height;
			@include gradient($base_color, $base_color_dark);
			@include flexbox();
			@include align-items(center);

			ul {
				list-style: none;
				@include resetMP();
				@include flexbox();
				@include flex(1);
				@include align-items(center);
				li {
					float: left;
					margin-right: 5px;
					display: inline-table;
				}
			}

			&-current {
				line-height: $grid_paging_item_height;
				border: 1px solid #ccc;
				text-align: center;
				margin-right: 5px; 

				@include size($grid_paging_item_width, $grid_paging_item_height);
			}

			&-info {
				text-align: right;
				@include flex(1);
				display: none;
			}

			@media all and (min-width: $view_sm) {
				&-info {
					display: block;
				}
			}
		}

		&-loading-overlay {
			@extend .it-overlay;
			@include flexbox();
			@include justify-content(center);
			@include align-items(center);
			position: absolute;
			visibility: hidden;
			opacity: 0;
			background: rgba(255, 255, 255, .6);

			&.loading-show {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
