.it {
	&-imagebox {
		
		&-picture {
			max-height: 100%;
			margin: 0 auto;
			display: inline-block;

			&[src=""] {
				display: none;
			}
		}

		.cropit-preview {
			background: #fff url("images/state-empty.png") center center no-repeat;
			border: 1px solid #ddd;
			padding: 2px;
			border-radius: 4px;
			@include size(100px, 100px);
			@include flexbox();
			@include align-items(center);
		}

		.cropit-preview-image-container {
			cursor: move;
		}

		.image-size-label {}
	}
}