.it {
	&-edit {
		width: 100%;
		@include flexbox();

		&-input {
			box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
			font-family: Aller;
			line-height: $input_height_default;
			height: $input_height_default;
			@include flex(1);

			// State
			&:focus {
				border-color: $input_border_focus_color;
			}

			// Invalid
			&.invalid {
				border-color: $input_border_invalid_color;
			}
			
			// For Textarea
			@at-root textarea#{&}  {
				line-height: auto;
				height: auto;
			}

			&[readonly] {
				background: $input_readonly_bg_color;
				border-color: $input_readonly_border_color;
				pointer-events: none;
				@include prefix(box-shadow, none);
			}
		}

		&-input,
		&-item {
		  	border: 1px solid $input_border_color;
			padding: 0 5px;
		}

		&-item {
			background: $input_info_bg_color;
			color: $input_info_text_color;
			font-weight: normal;
			line-height: $input_height_default;
			height: $input_height_default;
		}

		&-input,
		&-item {
		  	border: 1px solid $input_border_color;
			padding: 0 5px;
			height: $input_height_default;
			line-height: $input_height_default;
		}

		&-item:first-child {
			border-right: none;
		}

		&-item:last-child {
			border-left: none;
		}
	}
}