.it {
	&-title {
		padding: $title_padding;
		height: $title_height;
		line-height: $title_height;
		font-weight: 500;
		font-size: 14px;
		background: #eee;
		text-transform: uppercase;
		border-radius: 3px;

		.fa {
			margin-right: 8px;
			width: 16px;
		}
	}
}