.it {
	&-toolbar {
		position: relative;
		background: #fff;
		@include flexbox();
		@include align-items(center);	
		padding: $toolbar_padding;

		&-left, 
		&-right {
			list-style: none;
			margin: 0;
			padding-left: 0;
			display: flex;
			align-items: center;
		}

		&-left {
			margin-right: auto;
			
			> li {
				margin-right: 4px;
			}
		}

		&-right {
			margin-left: auto;

			> li {
				margin-left: 4px;
			}
		}
		
		// Textbox, Select Component
		.it-edit {
			margin-left: -15px;
			margin-right: -15px;

			&-input, 
			&-item {
				height: $toolbar_input_height;
				line-height: $toolbar_input_height;
			}
			.selectize-input {
			    line-height: $toolbar_select_height;
			    @include size(100%, $toolbar_select_height);
			}
		}

		// Button Component
		.it-btn {
			height: $toolbar_button_height;
			line-height: $toolbar_button_height;

			&:not([class*="btn-"]) {
				border-color: transparent;
				background: #f8f8f8;
				@include transition(transform .2s);

				&:hover {
					@include gradient($base_color, $base_color_dark);
					border-color: #e4e4e4;
				}
			}
		}
	}
}