.it {
	&-toolbar {
		white-space: nowrap;
		position: relative;
		padding: 3px;
		@include gradient($base_color, $base_color_dark);
		@include flexbox();
		@include align-items(center);	
		border-bottom: 1px solid #eee;

		&-left, 
		&-right {
			list-style: none;
			@include resetMP();
			@include flexbox();
			@include align-items(center);

			> li {
				display: inline;
				margin-right: 4px;
			}
		}

		&-left {
			@include flex(1);
		}

		&-right {}
		
		// Textbox, Select Component
		.it-edit {
			margin-left: -15px;
			margin-right: -15px;

			&-input, 
			&-item {
				height: $toolbar_input_height;
				line-height: $toolbar_input_height;
			}
			.selectize-input {
			    line-height: $toolbar_select_height;
			    @include size(100%, $toolbar_select_height);
			}
		}

		// Button Component
		.it-btn {
			height: $toolbar_button_height;
			line-height: $toolbar_button_height;

			&:not([class*="btn-"]) {
				border-color: transparent;
				background: transparent;
				@include transition(transform .2s);

				&:hover {
					@include gradient($base_color, $base_color_dark);
					border-color: #ddd;
				}
			}
		}
	}
}